<span class="social-share-twitter">
  <a href="https://twitter.com/intent/tweet?original_referer={{ site.url
  }}{{page.url }}%2&ref_src=twsrc^tfw&text={{ page.title | escape | replace:'
  ','%20'}}&tw_p=tweetbutton&url=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&via={{
  author.twitter }}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square"></i>
  Tweet</a>
</span>
<span class="social-share-facebook">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square"></i> Like</a>
</span>
<span class="social-share-googleplus">
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus-square"></i> +1</a>
</span>
<!-- /.social-share -->
